body {
    background-color: #8490BB;
}

.ImageInicio {
    height: 25em;
    margin-left: 25%;
    margin-right: 2.5%;
}

.sombra {
    box-shadow: 0px 5px 15px 0px rgba(112, 112, 112, 0.48);
    background-color: white;
    padding: 2rem;
    border-radius: 1rem;
    transition: all 1.5s ease;
}

.titulo-bienvenida {
    text-align: center;
    color: white !important;
}

.titulo-album {
    text-align: right;
    color: white;
}

.btn-ing {
    border-radius: 25px;
    background-color: #fff;
    color: #8490BB;
    font-size: xx-large;
    width: 25rem;
    height: 4rem;
    margin-top: 2.5rem;
}

.login {
    background-color: #d3cfcf !important;
    border-radius: 0 0 3rem 3rem;
}

.principal {
    height: 100vh;
}

.container-menu {
    height: 100%;
}

    .container-menu > .col-6 {
        background-color: #258c9d;
        border-radius: 2rem;
    }

.btn-menu {
    height: 3rem;
    background-color: #b8c3e9;
    color: #fff;
    border-radius: 0.5rem;
}

/* Estilos figuritas jugadores */

.borde-figurita {
    background-color: #000;
    height: 350px;
    width: 250px;
}

.figurita-figurita {
    height: 95%;
    width: 99.9%;
    border: 1px white;
    background-color: #fff;
}

.imagen-figurita {
    height: 60%;
    background-position: center top;
    background-size:cover;
    background-repeat:no-repeat;
}

.info-figurita {
    background: linear-gradient(rgb(251, 226, 226), rgb(229, 7, 26), rgb(251, 226, 226));
    height: 40%;
}

.nombre-figurita {
    border-bottom: 0.5px solid #fff;
    height: 25%;
}

.props-figurita {
    height: 50%;
}

    .props-figurita > ul > li {
        list-style-type: none !important;
    }

/*Pruebas para estilos de perfil*/

.icon-list {
    list-style: none;
    padding: 0;
}

    .icon-list li {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
    }

    .icon-list i {
        margin-right: 10px;
    }

.icons {
    display: flex;
    height: 3em;
    margin-left: 2%;
    margin-right: 2%;
}

.icon {
    display: flex;
    height: 3em;
    margin-left: 2%;
}

.icon-descrip {
    display: flex;
    flex-direction: column;
    margin-left: 1.5%;
    font-weight: bold;
}

.descrip {
    margin-bottom: 1.5%
}

.icons-right {
    list-style: none;
    padding: 0;
    text-align: right;
    margin-left: 90%;
    margin-right: 15%;
}

/*Bonos y recompensas*/

.imageRecompensa {
    display: flex;
    height: 15em;
    text-align: center;
    margin-top: 2%;
    margin-left: 40%;
}

.imageBox {
    display: flex;
    height: 10em;
    margin-left: 10%;
}

.imageCard {
    display: flex;
    height: 4em;
    margin-left: 35%;
}

.container {
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.list {
    display: flex;
    list-style: none;
    padding: 0;
}

    .list li {
        display: flex;
        margin-right: 98px;
        margin-top: 15px;
    }

.container-box {
    display: flex;
    margin-left: 20%;
}


/*Estadisticas*/

.imageEstadisticas {
    display: flex;
    height: 5em;
    text-align: center;
    margin-top: 2%;
    margin-left: 2%;
    margin-bottom: 2%;
}

/*Abrir Paquete*/

.imageBox1 {
    display: flex;
    height: 10em;
    align-items: center;
    margin-left: 45%;
}

.imageCard1 {
    display: flex;
    height: 4em;
    align-items: center;
    margin-left: 48%;
    margin-top: 5%;
}

/* Tienda */

.imageIntercambio {
    display: flex;
    height: 10em;
    align-items: center;
}

/* Album */

.album {
    height: 650px;
    width: 97.5%;
    background-color: #000;
}

.botones {
    height: 100%;
    width: 100%;
}

.pagina1 {
    height: 90%;
    width: 47.5%;
    background-color: #fff;
}

.pagina2 {
    height: 90%;
    width: 47.5%;
    background-color: #fff;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.opacidad-img {
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.25);
}

/* Figuritas */

.borde {
    background-color: #000;
    height: 95%;
    width: 20%;
}

.figurita {
    height: 90%;
    width: 90%;
    border: 1px white;
    background-color: #fff;
    font-size: xx-small;
}

.imagen {
    height: 55%;
    width: 100%;
    background-image: url("https://www.cariverplate.com.ar/imagenes/jugadores/2022-08/1638-01-armani-imagengrillapaginaplantel.png");
    background-size: cover;
}

.info {
    background: linear-gradient(rgb(251, 226, 226), rgb(229, 7, 26), rgb(251,226,226));
    height: 45%;
    width:100%;
}

.nombre {
    border-bottom: 0.5px solid #fff;
    height: 25%;
}

.borde-escudo {
    background-color: #000;
    height: 95%;
    width: 20%;
}

.figurita-escudo {
    height: 90%;
    width: 90%;
    border: 1px white;
    background-color: #fff;
    font-size: xx-small;
}

.imagen-escudo {
    height: 75%;
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/a/ac/Escudo_del_C_A_River_Plate.svg/826px-Escudo_del_C_A_River_Plate.svg.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.info-escudo {
    background: linear-gradient(rgb(251, 226, 226), rgb(229, 7, 26), rgb(251,226,226));
    height: 25%;
}

.nombre-escudo {
    border-bottom: 0.5px solid #fff;
    height: 25%;
}

.props {
    height: 70%;
}

    .props > ul > li {
        list-style-type: none !important;
    }

.borde-estadio {
    background-color: #000;
    height: 70%;
    width: 40%;
}

.figurita-estadio {
    height: 85%;
    width: 94%;
    border: 1px white;
    background-color: #fff;
    font-size: xx-small;
}

.imagen-estadio {
    height: 85%;
    background-image: url("https://www.cariverplate.com.ar/imagenes/contenidos/2021-09/128-19932-dronemonumental.jpg");
    background-size: cover;
    background-position: 0 70%;
}

.info-estadio {
    background: linear-gradient(rgb(251, 226, 226), rgb(229, 7, 26), rgb(251,226,226));
    height: 25%;
}

.nombre-estadio {
    height: 25%;
}

.boton {
    text-decoration: none;
    color: #fff;
    font-size: larger;
    height: 90%;
    display: flex;
    align-items: center;
}

    .boton:hover {
        background-color: #fff;
        color: #000;
    }

.circulo {
    background-color: #fff;
    border-radius: 5rem;
    width: 2.5rem;
}

.circulo-figurita {
    height: 1.5rem;
    width: 1.5rem;
    border: 1px solid #000;
    border-radius: 1rem;
}

/*Estilos de la barra de navegación*/

.navbar-nav .nav-link {
    font-size: 16px;
    margin-right: 10px;
    color: white;
}

.navbar-toggler {
    font-size: 20px;
    padding: 10px;
}
.navbar-nav .nav-link:hover {
    background-color: #f8f9fa; 
    color:#8490BB;
    border-radius:10px;
    text-shadow:grey;
}








