body {
    background-color: #8490BB;
}

.ImageInicio {
    height: 25em;
    margin-left: 25%;
    margin-right: 2.5%;
}

.titulo-bienvenida {
    text-align: center;
    color: white !important;
}

.titulo-album {
    text-align: right;
    color: white;
}

.btn-ing {
    border-radius: 25px;
    background-color: #fff;
    color: #8490BB;
    font-size: xx-large;
    width: 25rem;
    height: 4rem;
    margin-top: 2.5rem;
}

.login {
    background-color: #d3cfcf !important;
    border-radius: 0 0 3rem 3rem;
}

.principal {
    height: 100vh;
}

.container-menu {
    height: 100%;
}

    .container-menu > .col-6 {
        background-color: #258c9d;
        border-radius: 2rem;
    }

.btn-menu {
    height: 3rem;
    background-color: #b8c3e9;
    color: #fff;
    border-radius: 0.5rem;
}

/* Estilos figuritas jugadores */

.borde {
    background-color: #000;
    height: 350px;
    width: 250px;
}

.figurita {
    height: 95%;
    width: 99.9%;
    border: 1px white;
    background-color: #fff;
}

.imagen {
    height: 60%;
    background-position: center top;
}

.info {
    background: linear-gradient(rgb(251, 226, 226), rgb(229, 7, 26), rgb(251, 226, 226));
    height: 40%;
}

.nombre {
    border-bottom: 0.5px solid #fff;
    height: 25%;
}

.props {
    height: 50%;
}

.props > ul > li {
    list-style-type: none !important;
}

/*Pruebas para estilos de perfil*/

.icon-list {
    list-style: none;
    padding: 0;
    
}

    .icon-list li {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
    }

    .icon-list i {
        margin-right: 10px;
    }

.icons {
    display: flex;
    height: 3em;
    margin-left: 2%;
    margin-right: 2%;

}

.icon {
    display: flex;
    height: 3em;
    margin-left: 2%;
}
.icon-descrip {
    display: flex;
    flex-direction: column;
    margin-left:1.5%;
   font-weight:bold;
}
.descrip{
    margin-bottom: 1.5%
}
.icons-right {
    list-style: none;
    padding: 0;
    text-align: right;
    margin-left: 90%;
    margin-right:15%;
}

/*Bonos y recompensas*/

.imageRecompensa{
    display: flex;
    height: 15em;
    text-align:center;
    margin-top: 2%;
    margin-left: 40%;
}

.imageBox{
    display: flex;
    height: 10em;
    margin-left: 10%;
  
}

.imageCard {
    display: flex;
    height: 4em;
    margin-left: 35%;
}

.container {
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.list {
    display: flex;
    list-style: none;
    padding: 0;
}

    .list li {
        display: flex;
        margin-right: 98px;
        margin-top: 15px;
    }

.container-box{
    display: flex;
    margin-left: 20%;
}


/*Estadisticas*/

.imageEstadisticas {
    display: flex;
    height: 5em;
    text-align: center;
    margin-top: 2%;
    margin-left: 2%;
    margin-bottom: 2%;
}

/*Abrir Paquete*/

.imageBox1 {
    display: flex;
    height: 10em;
    align-items:center;
    margin-left:45%;
}

.imageCard1 {
    display: flex;
    height: 4em;
    align-items: center;
    margin-left: 48%;
    margin-top:5%;
}

/*Tienda*/

.imageIntercambio {
    display: flex;
    height: 10em;
    align-items: center;
  
}